<nav class="navbar navbar-dark bg-dark px-4">
  <a class="navbar-brand" href="/">Blog App</a>
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      User
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/">Home</a></li>
      <li><a class="dropdown-item" href="/me/stored/blogs">Another action</a></li>
      <li>
        <a class="dropdown-item" href="/blogs/create">Đăng Blog</a>
      </li>
    </ul>
  </div>
</nav>