<div>
<form method="POST" action="/search">
<div class="mb-3">
  <label for="search-input" class="form-label">Email address</label>
  <input type="text" name="q" class="form-control" id="search-input" placeholder="nhaapj....">
</div>
<button type="submit" class="btn btn-primary">search</button>
</form>
</div>